<%- include('./partials/header') %>
    <h2>  a place to share the items you need but 
        would rather not buy for those special one 
        of a kind moments.</h2>
<%- include('./partials/footer') %>