<%- include('../partials/header') %>

<form action="/items" method="POST">
    <label>Description </label>
    <input name="name">
    <label>Condition </label>
    <input name="condition">
    <button type="submit"> ADD ITEM </button>
</form>

<%- include('../partials/footer') %>